html,body{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  background-color: goldenrod;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 48px;
}

div{

}

input{
  height: 60px;
  width: 120px;
  margin: 5px;
  text-align: center;
  font-size: 24px;
  background-color: skyblue;
  border-color: dodgerblue;
}

button{
  height: 60px;
  width: 60px;
  margin: 5px;
  text-align: center;
  font-size: 24px;
}

#wrapper{
text-align: center;

}

#calculation{
  margin: 0 auto;
  background-color: maroon;
  height: 150px;
  width: 900px;
  text-align: center;

}

#output{
  margin: 0 auto;
  font-size: 72px;
  padding: 35px;
  color: white;
  text-transform: uppercase;

}

#inputValues{
  margin: 0 auto;
  width: 900px;
  height: 75px;
  background-color: whitesmoke;

}

#valueOne{


}

#adds{

}

#subtracts{

}

#multiplies{

}

#divides{

}

#valueTwo{

}
