/*elements are organize by the order in which they appear in the HTML*/

html,body{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  background-color: darkgoldenrod;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
}

div{

}

input{
  height: 60px;
  width: 180px;
  margin: 5px;
  text-align: center;
  font-size: 24px;
  background-color: skyblue;
  border-color: dodgerblue;
}

button{

}

button:hover{
  background-color: gainsboro
}

/*Classes are organized by the order in which they appear in the HTML*/
/*.highlight class is at the bottom of the page, it is used by two elelment classes*/

#wrapper{
text-align: center;

}

#calculation{
  margin: 0 auto;
  background-color: maroon;
  height: 75px;
  width: 900px;
  text-align: center;

}

#output{
  margin: 0 auto;
  font-size: 36px;
  padding: 15px;
  color: white;
  text-transform: uppercase;

}


#inputValues{
  margin: 0 auto;
  width: 900px;
  height: 75px;
  background-color: whitesmoke;

}

#valueOne{


}

.operator{
  height: 60px;
  width: 60px;
  margin: 5px;
  text-align: center;
  font-size: 24px;
}

#adds{

}

#subtracts{

}

#multiplies{

}

#divides{

}



#valueTwo{

}

#equals{


}

#clears{


}

#spacerBanner{
  margin: 0 auto;
  width: 900px;
  height: 20px;
  background-color: pink;
}

#numberButtonsDiv{
  margin: 0 auto;
  width: 900px;
  height: 365px;
  background-color: slategray;
}

.tenKey{
  height: 80px;
  width: 80px;
  margin: 5px;
  text-align: center;
  font-size: 32px;
  background-color: darkgoldenrod;

}

#oneThroughThree{
  padding-top: 3px;


}

#fourThroughSix{


}

#sevenThroughNine{


}

#setZeroGo{


}

.highlight{
background-color: lavenderblush;
font-size: 32px;
}
